.add {
    margin: 15px 0;
    min-width: 100px;
    text-transform: uppercase;
}

.table {
    text-align: center;
}

.tr {
    cursor: pointer;
}

td[data-delete] {
    color: red;
    opacity: .2;
    transition: opacity .2s ease-in-out .1s;

    &:hover,
    &:focus {
        opacity: 1;
    }
}
