body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    background-color: white;
    color: black;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}
