.header {
    @media (--media-desktop) {
        background-color: var(--color-background-secondary);
    }
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 48px;
    background-color: var(--color-background-secondary);

    @media (--media-tablet) {
        height: 60px;
    }

    @media (--media-desktop) {
        margin: 0 auto;
        width: 1200px;
        background-color: transparent;
    }
}

.topWrapper {
    display: flex;
    align-items: center;
}

.logoLink {
    margin-right: 45px;
    color: var(--color-black);
    text-decoration: none;

    &:focus,
    &:hover,
    &:active {
        color: var(--color-black);
        text-decoration: none;
    }
}

.logo {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;

    @media (--media-tablet) {
        font-size: 1.2rem;
    }
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navList {
    display: flex;
}

.link {
    color: var(--color-navigation-link);
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
        color: var(--color-black);
        text-decoration: none;
    }

    &:active {
        color: var(--color-navigation-link);
        text-decoration: none;
    }
}

.a {
    position: relative;
    display: flex;
    padding: 8px 16px;
    background-color: var(--color-white);
    color: var(--color-navigation-link);
    font-size: 20px;
    text-decoration: none;
    transition: opacity .3s;

    &:hover,
    &:focus {
        color: var(--color-black);
        text-decoration: none;
    }

    &:active {
        color: var(--color-navigation-link);
        text-decoration: none;
    }
}

.linkActive {
    color: var(--color-black);
}

.topNavigation {
    display: none;

    @media (--media-desktop) {
        display: block;
    }
}

.bottomNavigation {
    @media (--media-desktop) {
        display: none;
    }
}

.navigation {
    display: flex;
    height: 48px;
    overflow: hidden;
    border-bottom: 1px solid var(--color-dark-grey);
}

.item:not(:last-child) {
    margin-right: 18px;
}

.scrollBlock {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.scrollContainer {
    display: inline-block;
    padding: 0 16px;
}

.menuButton {
    @media (--media-tablet) {
        display: none;
    }
}
